<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      .body {
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .modal {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: coral;
        width: 500px;
        height: 300px;
        position: fixed;
        top: 25%;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    </style>
  </head>
  <body class="body">
    <h1>Hello World</h1>
    <button onclick="showModal()">Login</button>

    <div id="modal" class="modal">
      <form action="/" method="post">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
  <script>
    function showModal() {
      const modal = document.getElementById('modal')
      modal.style.display = 'flex'
    }
  </script>
</html>
